<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>STUDENTS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-header>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment_value" style="max-width: 70%" (ionChange)="changeView($event)">
            <ion-segment-button value="ALL" layout="icon-start">
                <ion-label>ALL STUDENTS</ion-label>
                <ion-icon name="list-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="ENROLLED" layout="icon-start">
                <ion-label>ENROLLED</ion-label>
                <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="ENLISTED" layout="icon-start">
                <ion-label>ENLISTED</ion-label>
                <ion-icon name="alert-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end" style="margin-right: 65px">
            <ion-button id="open-student-registration" expand="block" color="primary" fill="outline"
                (click)="showRegistrationForm()" [disabled]="active_enrollments.length==0">
                <ion-icon name="create-outline" slot="start"></ion-icon>
                Register Student
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false" class="ion-padding">
    <!-- <app-student-registration-form trigger="open-student-registration" [active_enrollments]="active_enrollments"
        [student]="read_student">
    </app-student-registration-form> -->

    <ion-fab vertical="top" horizontal="end" edge slot="fixed" activated>
        <ion-fab-button style="
				border: 2px solid var(--ion-color-warning);
				border-radius: 50%;
			" title="Table Settings">
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button title="Hide/Show Columns" [id]="table_name" (click)="showColVisMenu($event)">
                <ion-icon name="eye-off-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button title="Export Records" (click)="popUpMenu($event)">
                <ion-icon name="download-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button title="Export Settings" (click)="popUpMenu($event)">
                <ion-icon name="options-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-popover [trigger]="table_name" triggerAction="click" side="left" alignment="center" mode="ios"
            class="custom-popover">
            >
            <app-columns-visibility *ngIf="table_columns.length > 0" [columns]="table_columns"></app-columns-visibility>
        </ion-popover>
    </ion-fab>
    <!-- <app-table-export-menu
          [menu_id]="export_menu_id"
          [content_id]="export_content_id"
          (fetchPDFHeader)="updatePDFHeaderTemplate($event)"
          (fetchExportSetup)="updateExportSetup($event)"
        ></app-table-export-menu> -->

    <ion-content id="export_content_id1" scrollX="true" #tableContent>
        <table datatable [dtOptions]="dtOptions" class="table table-hover table-striped table-bordered"
            style="width: 100%">

        </table>
        <ion-infinite-scroll threshold="2%" (ionInfinite)="loadMoreData($event)">
            <!-- *ngIf="isTicketsLoaded && !isDateFilterApplied"> -->
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</ion-content>