<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ school_setting? 'UPDATE' : 'NEW' }} SCHOOL SETTINGS</ion-title>
        <ion-buttons slot="end" class="ion-margin-end">
            <ion-button (click)="closeSchoolSettingsModal()" fill="solid" color="danger">
                <span title="CANCEL">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <swiper [config]="swiper_config" #swiper>

        <ng-template swiperSlide>
            <div class="slide">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <form [formGroup]="schoolSettingForm" (ngSubmit)="submitSchoolSetting()">
                                <ion-list>
                                    <ion-item-group>
                                        <ion-item-divider>
                                            <ion-label>School Setting</ion-label>
                                        </ion-item-divider>

                                        <ion-item>
                                            <ion-label position="fixed" class="w-50">Academic Year</ion-label>
                                            <ion-input type="text" placeholder="e.g. 2022-2023" class="ion-text-end"
                                                formControlName="academic_year">
                                            </ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label position="fixed" class="w-50">Term</ion-label>
                                            <ion-select *ngIf="terms.length > 0" interface="popover"
                                                placeholder="**Select**" formControlName="term"
                                                class="ion-text-end w-50">
                                                <ion-select-option *ngFor="let term of terms" [value]="term.id"
                                                    class="ion-text-end">
                                                    {{ term.code }}
                                                </ion-select-option>
                                            </ion-select>
                                        </ion-item>
                                        <ion-item class="mt-7p">
                                            <ion-label position="fixed" class="ion-text-wrap">Enrollment Start
                                            </ion-label>
                                            <ion-datetime-button slot="end" datetime="es_date">
                                            </ion-datetime-button>
                                            <ion-popover show-backdrop="false" [keepContentsMounted]="true">
                                                <ng-template>
                                                    <ion-datetime [presentation]="'date-time'" locale="en-US"
                                                        formControlName="enrollment_start_date" id="es_date">
                                                    </ion-datetime>
                                                </ng-template>
                                            </ion-popover>
                                        </ion-item>
                                        <ion-item class="mt-7p">
                                            <ion-label position="fixed" class="ion-text-wrap">Enrollment End</ion-label>
                                            <ion-datetime-button slot="end" datetime="ee_date">
                                            </ion-datetime-button>
                                            <ion-popover show-backdrop="false" [keepContentsMounted]="true">
                                                <ng-template>
                                                    <ion-datetime [presentation]="'date-time'" locale="en-US"
                                                        formControlName="enrollment_end_date" id="ee_date">
                                                    </ion-datetime>
                                                </ng-template>
                                            </ion-popover>
                                        </ion-item>
                                        <ion-item class="mt-7p">
                                            <ion-label position="fixed" class="ion-text-wrap">Encoding Start</ion-label>
                                            <ion-datetime-button slot="end" datetime="ecs_date">
                                            </ion-datetime-button>
                                            <ion-popover show-backdrop="false" [keepContentsMounted]="true">
                                                <ng-template>
                                                    <ion-datetime [presentation]="'date-time'" locale="en-US"
                                                        formControlName="encoding_start_date" id="ecs_date">
                                                    </ion-datetime>
                                                </ng-template>
                                            </ion-popover>
                                        </ion-item>
                                        <ion-item class="mt-7p">
                                            <ion-label position="fixed" class="ion-text-wrap">Encoding End</ion-label>
                                            <ion-datetime-button slot="end" datetime="ees_date">
                                            </ion-datetime-button>
                                            <ion-popover show-backdrop="false" [keepContentsMounted]="true">
                                                <ng-template>
                                                    <ion-datetime [presentation]="'date-time'" locale="en-US"
                                                        formControlName="encoding_end_date" id="ees_date">
                                                    </ion-datetime>
                                                </ng-template>
                                            </ion-popover>
                                        </ion-item>
                                    </ion-item-group>
                                </ion-list>
                            </form>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-vertical">
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="slidePage({direction:'next'})" fill="solid" color="primary"
                                class="ion-margin-vertical" [disabled]="!schoolSettingForm.valid">
                                Next
                                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide" #parentDiv>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-item>
                                <ion-label class="ion-text-wrap ion-text-center"><b>ACADEMIC YEAR: {{
                                        schoolSettingForm.controls.academic_year.value
                                        }}<br> TERM: {{ displaySelectedTermCode(schoolSettingForm.controls.term.value)
                                        }}</b>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-accordion-group>
                                <ion-accordion [formGroup]="offerSubjectsForm">
                                    <ion-item slot="header" color="light">
                                        <ion-label class="ion-text-wrap ion-text-center">OFFER SUBJECTS</ion-label>
                                    </ion-item>
                                    <div class="ion-padding" slot="content">
                                        <ion-list>
                                            <ion-item-group>
                                                <ion-item (click)="sub_select.open()" lines="full" button>
                                                    <ion-label position="floating">Select Subjects
                                                    </ion-label>
                                                    <app-searchable-select [items]="subjects"
                                                        [formControlRef]="offerSubjectsForm.controls['subjects']"
                                                        valueRef="id" textFieldRef="code,description"
                                                        [multipleTextDisplay]="true" [multipleSelectItem]="true"
                                                        [title]="customAlertOptions.header"
                                                        [disableSelectedItems]="true" #sub_select>
                                                    </app-searchable-select>
                                                </ion-item>
                                            </ion-item-group>
                                        </ion-list>

                                    </div>
                                </ion-accordion>
                            </ion-accordion-group>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <table datatable [dtOptions]="dtOptions"
                                class="table table-hover table-striped table-bordered" style="width: 100%">
                            </table>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-vertical">
                        <ion-col size="4">
                            <ion-button (click)="slidePage({direction:'previous'})" fill="solid" color="primary"
                                class="ion-margin-vertical">
                                <ion-icon slot="start" name="arrow-back"></ion-icon>
                                Back
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            <ion-button type="button" expand="block" class="ion-margin-vertical"
                                (click)="submitSchoolSetting()" [disabled]="!schoolSettingForm.valid">
                                {{ school_setting? 'UPDATE' : 'CREATE' }} SCHOOL SETTING
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-template>

    </swiper>
</ion-content>