<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ program? 'UPDATE' : 'NEW' }} CURRICULUM</ion-title>
        <ion-buttons slot="end" class="ion-margin-end">
            <ion-button (click)="closeProgramModal()" fill="solid" color="danger">
                <span title="CANCEL">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <swiper [config]="swiper_config" #swiper>

        <ng-template swiperSlide>
            <div class="slide">
                <ion-grid fixed [formGroup]="programForm">
                    <ion-row>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-list>
                                <ion-item-group>
                                    <ion-item-divider>
                                        <ion-label>Curriculum Details</ion-label>
                                    </ion-item-divider>
                                    <ion-item>
                                        <ion-label position="floating">Curriculum Code</ion-label>
                                        <ion-input formControlName="code"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Curriculum Description</ion-label>
                                        <ion-input formControlName="description"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Education Level</ion-label>
                                        <ion-select *ngIf="program_levels.length > 0" interface="popover"
                                            placeholder="**Select**" formControlName="program_level_id">
                                            <ion-select-option *ngFor="let p of program_levels" [value]="p.id">
                                                {{ p.description }}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-item-group>

                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-vertical">
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="slidePage({direction:'next'})" fill="solid" color="primary"
                                class="ion-margin-vertical" [disabled]="!programForm.valid">
                                Next
                                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="slide" #parentDiv>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-item>
                                <ion-label class="ion-text-wrap ion-text-center"><b>{{
                                        (programForm.controls.description.value).toUpperCase()
                                        }}</b></ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-accordion-group>
                                <ion-accordion [formGroup]="selectSubjectsForm">
                                    <ion-item slot="header" color="light">
                                        <ion-label class="ion-text-wrap ion-text-center">SELECT SUBJECTS</ion-label>
                                    </ion-item>
                                    <div class="ion-padding" slot="content">
                                        <ion-list>
                                            <ion-item-group>
                                                <ion-item>
                                                    <ion-label position="floating">Term</ion-label>
                                                    <ion-select interface="popover" placeholder="**Select**"
                                                        formControlName="current_term">
                                                        <ion-select-option value=""></ion-select-option>
                                                        <ion-select-option *ngFor="let t of terms" [value]="t.id">
                                                            {{ t.code }}
                                                        </ion-select-option>
                                                    </ion-select>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label position="floating">Level</ion-label>
                                                    <ion-select interface="popover" placeholder="**Select**"
                                                        formControlName="current_level">
                                                        <ion-select-option value=""></ion-select-option>
                                                        <ion-select-option *ngFor="let l of levels_selection"
                                                            [value]="l.id">
                                                            {{ l.description }}
                                                        </ion-select-option>
                                                    </ion-select>
                                                </ion-item>
                                                <ion-item (click)="sub_select.open()" lines="full" button>
                                                    <ion-label position="floating">Select Subjects
                                                    </ion-label>
                                                    <app-searchable-select [items]="subjects"
                                                        [formControlRef]="selectSubjectsForm.controls['subjects']"
                                                        valueRef="id" textFieldRef="code,description"
                                                        [multipleTextDisplay]="true" [multipleSelectItem]="true"
                                                        [title]="customAlertOptions.header + ' ' + customAlertOptions.subHeader"
                                                        [disableSelectedItems]="true" #sub_select>
                                                    </app-searchable-select>
                                                </ion-item>
                                            </ion-item-group>
                                        </ion-list>

                                    </div>
                                </ion-accordion>
                                <ion-accordion>
                                    <ion-item slot="header" color="light">
                                        <ion-label class="ion-text-wrap ion-text-center">NEW SUBJECT</ion-label>
                                    </ion-item>
                                    <div class="ion-padding" slot="content">
                                        <ion-list>
                                            <ion-button (click)="showSubjectForm()" expand="block" fill="solid">
                                                Create New Subject
                                            </ion-button>
                                        </ion-list>
                                    </div>
                                </ion-accordion>
                            </ion-accordion-group>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <table datatable [dtOptions]="dtOptions"
                                class="table table-hover table-striped table-bordered" style="width: 100%">
                            </table>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-vertical">
                        <ion-col size="4">
                            <ion-button (click)="slidePage({direction:'previous'})" fill="solid" color="primary"
                                class="ion-margin-vertical">
                                <ion-icon slot="start" name="arrow-back"></ion-icon>
                                Back
                            </ion-button>
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="submitProgramForm()" fill="solid" color="primary"
                                class="ion-margin-vertical">
                                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                                {{ program? 'UPDATE' : 'CREATE' }} CURRICULUM
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-template>
    </swiper>

</ion-content>