<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ student? 'UPDATE' : 'NEW' }} STUDENT ADMISSION</ion-title>
        <ion-buttons slot="end" class="ion-margin-end">
            <ion-button (click)="closeRegistrationModal()" fill="solid" color="danger">
                <span title="CANCEL">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <swiper [config]="swiper_config" #swiper>

        <ng-template swiperSlide>
            <div class="slide">
                <ion-grid fixed *ngIf="!registration">
                    <ion-row>
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-list style="margin-bottom: 100px;">
                                <ion-item-group>
                                    <ion-item-divider>
                                        <ion-label>Admission Details</ion-label>
                                    </ion-item-divider>
                                    <ion-item>
                                        <ion-label position="stacked">Date & Time of Admission</ion-label>
                                        <ion-skeleton-text animated style="width: 100%; height: 22px;"
                                            class="ion-margin-top">
                                        </ion-skeleton-text>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Academic Year & Term</ion-label>
                                        <ion-skeleton-text animated style="width: 100%; height: 22px;"
                                            class="ion-margin-top">
                                        </ion-skeleton-text>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Program</ion-label>
                                        <ion-skeleton-text animated style="width: 100%; height: 22px;"
                                            class="ion-margin-top">
                                        </ion-skeleton-text>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Level/Grade/Year</ion-label>
                                        <ion-skeleton-text animated style="width: 100%; height: 22px;"
                                            class="ion-margin-top">
                                        </ion-skeleton-text>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="stacked">Student Type</ion-label>
                                        <ion-skeleton-text animated style="width: 100%; height: 22px;"
                                            class="ion-margin-top">
                                        </ion-skeleton-text>
                                    </ion-item>
                                </ion-item-group>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid fixed *ngIf="registration">
                    <ion-row [formGroup]="registration.controls.admission_details">
                        <ion-col size-lg="6" offset-lg="3" size="12">
                            <ion-list>
                                <ion-item-group>
                                    <ion-item-divider>
                                        <ion-label>Admission Details</ion-label>
                                    </ion-item-divider>
                                    <ion-item class="mt-7p">
                                        <ion-label>Date and Time of Admission</ion-label>
                                        <ion-datetime-button slot="end" datetime="registration_date1">
                                        </ion-datetime-button>
                                        <ion-popover show-backdrop="false" [keepContentsMounted]="true">
                                            <ng-template>
                                                <ion-datetime [presentation]="'date-time'" locale="en-US"
                                                    formControlName="registration_date" id="registration_date1"
                                                    show-clear-button show-default-buttons>
                                                </ion-datetime>
                                            </ng-template>
                                        </ion-popover>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Academic Year & Term</ion-label>
                                        <ion-select *ngIf="!student" interface="popover" placeholder="**Select**"
                                            formControlName="school_setting_id">
                                            <ion-select-option *ngFor="let active of active_enrollments"
                                                [value]="active.id">
                                                AY {{ active.academic_year }} ({{ active.term.code }})
                                            </ion-select-option>
                                        </ion-select>
                                        <ion-input *ngIf="student" type="text" [value]="display_year_term" readonly>
                                        </ion-input>
                                    </ion-item>
                                    <ion-item (click)="program_select.open()" lines="full" button>
                                        <ion-label position="floating">Program</ion-label>
                                        <app-searchable-select [items]="programs"
                                            [formControlRef]="registration.get('admission_details.program_id')"
                                            valueRef="id" textFieldRef="code,description" [multipleTextDisplay]="true"
                                            title="Admit Student Into Program" #program_select>
                                        </app-searchable-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Level</ion-label>
                                        <ion-select interface="popover" placeholder="**Select**"
                                            formControlName="level_id">
                                            <ion-select-option *ngFor="let level of selection_levels"
                                                [value]="level.id">
                                                {{ level.description }}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Student Type</ion-label>
                                        <ion-select interface="popover" placeholder="**Select**"
                                            formControlName="student_type_id">
                                            <ion-select-option *ngFor="let type of student_types" [value]="type.id">
                                                {{ type.type }}
                                            </ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-item-group>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                        </ion-col>
                        <ion-col size="4">
                            <ion-button (click)="slidePage({direction:'next'})" fill="solid" color="primary"
                                class="ion-margin-vertical" [disabled]="!registration.controls.admission_details.valid">
                                Next
                                <ion-icon slot="end" name="arrow-forward"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-basic-info-page (triggerSlide)="slidePage($event)" *ngIf="registration"
                    [basicInfoFormGroup]="registration.controls.basic_info">
                </app-basic-info-page>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-guardian-info-page (triggerSlide)="slidePage($event)" *ngIf="registration"
                    [guardianInfoFormGroup]="registration.controls.mother_info">
                </app-guardian-info-page>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-guardian-info-page (triggerSlide)="slidePage($event)" *ngIf="registration"
                    [guardianInfoFormGroup]="registration.controls.father_info" [target]="1">
                </app-guardian-info-page>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-guardian-info-page (triggerSlide)="slidePage($event)" *ngIf="registration"
                    [guardianInfoFormGroup]="registration.controls.guardian_info" [target]="2">
                </app-guardian-info-page>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-education-background-page (triggerSlide)="slidePage($event)" *ngIf="registration"
                    [educationFormGroup]="registration.controls.education" [selected_program]="selected_program"
                    [hide_college_background]="hide_college_background">
                </app-education-background-page>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="slide">
                <app-family-info-page (triggerSlide)="slidePage($event)" (register)="submitRegistration($event)"
                    *ngIf="registration" (siblingFieldOperation)="handleSiblingFieldOperation($event)"
                    [familyInfoFormGroup]="registration['controls'].family_info" [student]="student">
                </app-family-info-page>
            </div>
        </ng-template>

    </swiper>
</ion-content>